{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card border-danger shadow-sm">
                <div class="card-header bg-danger text-white fw-bold">
                    Confirmar eliminación
                </div>

                <div class="card-body">
                    <p>
                        ¿Estás seguro de eliminar la PQRS
                        <strong>{{ pqrs.radicado }}</strong>?
                    </p>

                    <p class="text-muted">
                        Esta acción no se puede deshacer.
                    </p>

                    <form method="POST">
                        {% csrf_token %}
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'pqrs:listar_pqrs' %}" class="btn btn-secondary">
                                Cancelar
                            </a>
                            <button class="btn btn-danger">
                                Eliminar
                            </button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}
{% if pqrs.estado == 'RESPONDIDO' %}
    <a href="{% url 'eliminar_pqrs' pqrs.id %}"
       class="btn btn-sm btn-outline-danger">
        Eliminar
    </a>
{% endif %}